/*http://www.colorhexa.com/4cb6b4*/

body { 
  font-family: 'Gill Sans';
  background-color: #fff;
}

.head {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  margin: 1em;
  margin-bottom: 6em;
}

.suggest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-column-gap: 1em;
  grid-row-gap: 4em;
  margin: 4em; 
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 4em;
  margin: 1em;
}

@media only screen and (max-width: 800px) {
  .wrapper, .suggest, .head {
    grid-template-columns: 1fr;
  }
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1.2em;
}

.suggestions ul {
  list-style: cjk-decimal;
}

.box {
  background-color: white;
  color: black;
  border: 0.1em solid grey;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  padding-bottom: 0.8em;
  font-size: 1.2em;
  hyphens: auto;
}

.box h2 {
  font-size: 1.2em;
}

.box:hover {
  color: #4cb6b4;
  text-decoration: wavy underline;
  border-bottom: 0.8em solid #4cb6b4; 
  padding-bottom: 0em
}

a {
  text-decoration: none;
}

.header, .header:hover {
  background-color: white;
  border: 2px solid #aededd;
  padding-top: 4em;
  padding: 2em;
  font-size: 1.8em;
  text-align: center;
}

.info, .info:hover {
  background-color: white;
  color: black;
  font-size: 1.5em;
  padding-bottom: 2em;
  padding-top: 1em;
  border: 0;
  text-align: right;
}

a {
  color: #45a9a7;
}

a:hover {
  color: #b64c83;
}

hr {
  border: 1px solid grey;
}

.left {
  border: 1px solid #aededd; 
  width: 60vw;
  float:left;
}

.right {
  border: 1px solid #aededd; 
  width: 60vw; 
  float:right;
}